body {
		font-family: 'Nunito', sans-serif;
		padding: 0;
		height: 100%;
		font-size: 10pt;
		line-height: 12pt;
}

b, h1, h2, h3, h4 {
  color: #111111;
  font-weight: 600;
}

.page {
  overflow: hidden;
  page-break-after: always;
}

#header img {
  width: 100%;
}

#header span {
  position: absolute;
  top: 203pt;
  right: 55px;
  display: block;
  color: white;
  font-size: 22pt;
}

#content {
  display: block;
  margin: 0 15px 0 15px;
  font-size: 9pt;
  line-height: 9pt;
}

.date {
  padding-bottom: 30px;
  font-weight: 600;
}

#contact {
  margin: 15px 0 0 15px;
  padding-bottom: 15px;
}

#contact p {
  margin: 5px;
  font-size: 10pt;
  line-height: 20px;
  font-weight: 600;
}

#intro {
  margin: 0 0 0 20px;
  width: 500pt;
  font-size: 10pt;
  line-height: 20px;
}

#intro p{
  padding-bottom: 15px;
}

table {
  margin: 0 3px 25px 23px;
  padding-bottom: 0;
  width: 520pt;
  border-top: 1px solid #fff;
  border-bottom: none;
  empty-cells: show;
}


table td {
  margin: 0;
  padding: 3pt;
  border-top: 1px solid #eaab20;
  border-right: 1px solid #eaab20;
  color: black;
  font-size: 9pt;
  line-height: 13px;
}

td.img-product {
  padding: 15px 5pt 7pt 0;
  font-size: 10pt;
}

td img{
  width: 160px;
  border-top: 1px #fff solid;
}

.img-product{
    border-top: 1px #fff solid;
}

.img-product img {
  width: 160px;
}

.title {
  color: #111111;
  font-weight: 600;
  padding-bottom: 15px;
}

.no-border {
  border-right: none;
}


#banner_includes{
  margin: 15px 0 15px 15px;
  width: 520pt;
}

#banner {
  margin: 15px 0 15px 20px;
  width: 510pt;
}

#firm{

 margin-left: 30px;
}

.firm{
  display: block;
  margin-left: 30px;
}

#final {
  width: 100%;
  height: 950px;
}

#observacion {
  margin: 15px 0 15px 15pt;
  padding: 0 0 0 15px;
  width: 510pt;
}

#observacion span {
  display: block;
  margin: 0 0 15px -15px;
  padding: 0 0 25px 0;
  width: 505pt;
  border-bottom: 1px solid #eaab20;
  font-size: 10pt;
  line-height: 15pt;
}

.services {
  margin: 0 10pt 15px 15pt;
  width: 515pt;
 font-size: 10pt;
}

.service_title {
  margin: 0;
  font-size: 12pt;
}

.divide {
  display: block;
  clear: both;
  margin-bottom: 15px;
  width: 100%;
  height: 30px;
}



.divider {
  display: block;
  width: 500pt;
  height: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  border-bottom: 1px solid #ebab21;
}

.service-title{
  font-weight: 600;
}

.service-img{
  width: 160px;
  margin-left: 30px;
}

.service-title span{
  display: inline-block;
  width: 500px;
  height: auto;
  margin-top: 3px;
  font-size: 12pt;
}

.service-content{
  width: 500pt;
  display: block;
 margin: 0 0 0 30px;
}

.service-content ul, ol{
  padding: 0;
  margin-left: 10px;
}

.service-content b {
  font-weight: 700;
}

.service-content p > span{
  font-weight: normal;
  font-style: normal;
}

.comment-content p{
  margin:0;
  padding: 0;
}

.price {
  font-weight: 600;
}

.text-right{
  text-align:right;
}

.container-conf{
  clear: both;
  width: 100%;
}

.clearfix{
    display: block;
  clear: both;
}

.conf{
margin-bottom: 5px;
background: #ddd;

}

.spaces{
   border-bottom: 1px solid #fff;
}

.comment-title{
  margin-left: 30px;
  font-weight: 600;
}

.comment-content {
  margin-left: 30px;
}

.comment-content ul, .comment-content ol{
  padding: 0;
  margin-left: 10px;
}

.message{
  display: block;
  margin: 0 15px 0 15px;
    font-weight: normal;
   font-size: 16px;
  line-height: 20px;
}

.footer{
  position: fixed;
  bottom: 15px;
  left: 410px;
  margin-top: 15px;
}